# Pandas

In [ ]:
# 판다스 라이브러리 불러오기

# Series 시리즈 다루기

Series: 일차원 배열로 어떤 데이터 유형이던지 담아 둘 수 있다. 각각의 데이터는 부여된 index에 따라 호출할 수 있다.

In [ ]:
# 시리즈 만들기 01: 리스트/배열 형식으로 기본 시리즈 만들기.

In [ ]:
# 시리즈 인덱싱 : 기존에 배운 리스트 인덱싱과 동일합니다.

In [ ]:
# 실습: 인덱싱을 통해 my_series01 에서 세번째인 3.14를 출력해주세요.

In [ ]:
# 시리즈 만들기 02: 인덱스를 지정해주기.

In [ ]:
# 자신의 인덱스를 만든경우는 해당 인덱스를 사용해야 합니다.

In [ ]:
# 실습: 인덱싱을 통해 my_series02 에서 세번째인 중국을 출력해주세요.

In [ ]:
# Dictionary Type, 딕셔너리 타입

In [ ]:
# 실습: my_dict의 타입 확인해보기

In [ ]:
# 딕셔너리의 키 값

In [ ]:
# 딕셔너리의 벨류 값

In [ ]:
# 시리즈 만들기 03: 딕셔너리타입을 통해 시리즈 만들기.

In [ ]:
# 실습: 아래와 같은 출력이 나오게 my_series04를 만들어주세요.

In [ ]:
# 실습 : 자신이 만든 시리즈에서 인덱스를 선택하여 초밥과 햄버거 두개를 출력해주세요.

# DataFrame 데이터프레임 다루기

In [ ]:
# 시리즈를 딕셔너리 타입으로 데이터프레임 만들기.

In [ ]:
# 리스트를 딕셔너리 타입으로 데이터프레임 만들기.

In [ ]:
# 실습: 아래와 같은 데이터프레임을 my_df03으로 만들어서 저장해주세요.

## 데이터프레임 행(column) 다루기

In [ ]:
# 현재 행 이름 출력하기

## 콜롬

In [ ]:
# 행 선택하기

In [ ]:
# 여러 행 선택하기

In [ ]:
# 실습: 행 선택하기를 응용하여 행 위치를 바꿔서 아래와 같이 출력해주세요.

## 행 추가하기

In [ ]:
# 행 이름을 새로 만들고, 해당 값들을 리스트로 지정해주기

## 행 제거하기

In [ ]:
# 제거하고 싶은 행을 선택하지 않기
# my_df03 = my_df03[['나라', '수도', '대표음식']]

## 데이터프레임 인덱싱

In [ ]:
# 인덱스 번호를 사용하여 선택하기

In [ ]:
# : 슬라이싱을 통해 선택하기

In [ ]:
# 특정 인덱스 번호를 리스트로 만들어서 선택하기

In [ ]:
# 행/열 둘 다 선택하기

In [ ]:
# 실습: 여러 행/열 둘 다 선택하기

In [ ]:
# iloc를 활용하여 행/열 번호로 선택하기 iloc[열번호,행번호]
#열번호가 0번이고 행번호가 1번인 데이터 선택

In [ ]:
# 실습: iloc를 활용하여 아래와 같이 출력하기

## csv/excel 저장하고 불러오기

## 저장하기

In [ ]:
# 저장하고싶은데이터프레임변수명.to_csv('파일명.csv', encoding='한국어인경우, utf-8-sig')

In [ ]:
# 저장하고싶은데이터프레임변수명.to_excel('파일명.xlsx', encoding='한국어인경우, utf-8-sig')

## 불러오기

In [ ]:
# csv 파일 불러오기

# 엑셀 파일 불러오기

In [ ]:
# 데이터 정보 확인하기 
# 확인할것:
# 1. 데이터의 유형
# 2. NULL 데이터 존재유무

In [ ]:
# 기초 통계량 확인하기

In [ ]:
# 결측치 처리하기 
# fillna() = 특정값으로 채우기 / dropna() = 제거하기
# inplace=True는 데이터프레임 자체에 효과를 적용하게 해줌 df = df.fillna(0) 과 동일한 효과

In [ ]:
# 결측치가 0으로 채워진 것을 확인

In [ ]:
# 실습 : 연월일 행 제거하기

## 구간 평균/합 구하기

In [ ]:
import numpy as np
# axis=0 행 전체에 평균

In [ ]:
# axis=0 행 전체에 합

In [ ]:
# axis=1 열 전체에 평균

In [ ]:
# axis=1 열 전체에 합

In [ ]:
# df['10대'] = df.iloc[:,0] + df.iloc[:,1]
# df['20대'] = df.iloc[:,2] + df.iloc[:,3]
# df['30대'] = df.iloc[:,4] + df.iloc[:,5]
# df['40대'] = df.iloc[:,6] + df.iloc[:,7]
# df['50대'] = df.iloc[:,8] + df.iloc[:,9]
# df['60대'] = df.iloc[:,10] + df.iloc[:,11]

In [ ]:
import matplotlib.pyplot as plt
# 그래프 사이즈 조절

# 데이터 입력

# 파이 차트에 대한 설정 

# 타이틀 및 축 설정

# 그래프 보여주기