<a href="https://colab.research.google.com/github/Hanbi-Kim/IntroToPython/blob/main/Pandas%26Folium.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Chapter 1. 구글 드라이브 연동하고 Pandas 패키지 불러오기

In [1]:
# 구글 드라이브와 연동하기.
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
# 판다스 패키지를 불러오고 pd 라는 별명으로 사용
import pandas as pd

## Chapter 2. Series

In [17]:
# 리스트 만들기
a = [1, 7, 2, 123, 125]

# 해당 리스트를 판다스의 시리즈로 만들기
my_series = pd.Series(a)

my_series

0      1
1      7
2      2
3    123
4    125
dtype: int64

In [10]:
# 문자열/리스트와 동일하게 인덱싱가능
my_series[0]

1

In [16]:
# 리스트 만들기
a = [1, 7, 2, 123, 125]

# 해당 리스트를 판다스의 시리즈로 만들기
my_series = pd.Series(a, index=['a','b','c','d','e'])

my_series

a      1
b      7
c      2
d    123
e    125
dtype: int64

In [12]:
# 인덱스를 임의로 설정하였음으로 해당 인덱스를 통한 인덱싱
my_series['a']

1

## Chapter 3. DataFrame

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-drop.png">

In [15]:
# 딕셔너리 타입으로 데이터 만들기
data = {
  "calories": [420, 380, 390,500],
  "duration": [50, 40, 45,60]
}

# 딕셔너리 타입의 데이터를 데이터 프레임으로 변환
df = pd.DataFrame(data)

df

   calories  duration
0       420        50
1       380        40
2       390        45
3       500        60

In [19]:
# 인덱스를 임의로 설정하여 데이터프레임 만들기
df = pd.DataFrame(data, index = ["day1", "day2", "day3", "day4"])
df

      calories  duration
day1       420        50
day2       380        40
day3       390        45
day4       500        60

## Chapter 4. 데이터프레임 저장/불러오기

In [22]:
# 현재 경로 확인
! pwd

/content

In [23]:
# 현재 경로 안에 폴더 확인하기
! dir

gdrive	sample_data

In [ ]:
# CSV / Excel 저장하기
# 한국어 파일의 경우 encoding = "utf-8-sig" 를 추가하여 저장.
df.to_csv("./저장하려는 경로/저장하려는이름.csv")
df.to_excel("./저장하려는 경로/저장하려는이름.xlsx")

In [ ]:
# CSV / Excel 불러오기
# 한국어 파일의 경우 encoding = "cp949" 를 추가하여 불러오기. ['utf-8','utf-8-sig'] 등도 사용될수있음.
pd.read_csv("./불러오려는 경로/불러오려는파일명.csv")
pd.read_excel("./불러오려는 경로/불러오려는파일명.xlsx")

## 실습: 서울시 구별 인구 데이터 불러오고 수정하여 저장하기
- 구글 드라이브와 연동한 경우: 해당 데이터가 존재하는 경로 확인하기.
- 구글 드라이브와 연동하지 않은 경우: 왼쪽 탭에서 파일을 열고, 드래그하여 업로드 혹은 파일 업로드를 누른 후 파일을 업로드 <br>
< 구글 드라이브와 연동하지 않은 경우, 해당 런타임 종료시 파일은 자동으로 지워짐>

In [24]:
# 연동하지 않고 파일을 업로드 한 후 현재 폴더의 파일을 확인한 결과
# Report.xlsx 라는 서울시 구별 인구정보 데이터가 추가됨을 확인
! dir

gdrive	Report.xlsx  sample_data

In [77]:
pd.read_excel("Report.xlsx")

,기간,행정구역별,구분,계,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
0,2021,합계,계,9736027,250044,345196,372040,394566,638174,847622,...,730761,732970,568036,398337,299887,199533,96094,33907,7957,1665
1,2021,합계,한국인,9509458,244538,339145,367879,388257,603077,819200,...,705302,722662,563260,396569,299231,199138,95871,33815,7920,1643
2,2021,합계,등록외국인,226569,5506,6051,4161,6309,35097,28422,...,25459,10308,4776,1768,656,395,223,92,37,22
3,2021,종로구,계,153789,2849,4439,5092,5849,12935,14201,...,12371,11770,8954,6312,5400,4089,2078,753,200,32
4,2021,종로구,한국인,144683,2720,4264,4934,5447,9965,12837,...,11857,11511,8841,6254,5383,4078,2071,750,200,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,2021,송파구,한국인,658338,20263,28110,28956,28679,38241,52181,...,47606,48952,38584,24774,16486,9796,5206,2039,528,90
74,2021,송파구,등록외국인,5627,122,138,94,81,298,638,...,704,277,102,49,18,12,4,2,1,-
75,2021,강동구,계,466472,14770,19737,19953,19025,25956,35173,...,35082,37555,29298,18937,12619,7513,3785,1495,342,81
76,2021,강동구,한국인,462664,14678,19643,19891,18959,25732,34735,...,34595,37366,29216,18910,12608,7509,3784,1494,342,80
77,2021,강동구,등록외국인,3808,92,94,62,66,224,438,...,487,189,82,27,11,4,1,1,-,1

In [177]:
# 불러온 데이터를 변수 df에 저장하여 활용
df = pd.read_excel("Report.xlsx")

In [178]:
# 데이터프레임에 Null값이 있는지 각 행의 데이터 타입이 어떤지 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 25 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   기간       78 non-null     int64
 1   행정구역별    78 non-null     object
 2   구분       78 non-null     object
 3   계        78 non-null     int64
 4   0~4세     78 non-null     int64
 5   5~9세     78 non-null     int64
 6   10~14세   78 non-null     int64
 7   15~19세   78 non-null     int64
 8   20~24세   78 non-null     int64
 9   25~29세   78 non-null     int64
 10  30~34세   78 non-null     int64
 11  35~39세   78 non-null     int64
 12  40~44세   78 non-null     int64
 13  45~49세   78 non-null     int64
 14  50~54세   78 non-null     int64
 15  55~59세   78 non-null     int64
 16  60~64세   78 non-null     int64
 17  65~69세   78 non-null     int64
 18  70~74세   78 non-null     int64
 19  75~79세   78 non-null     int64
 20  80~84세   78 non-null     int64
 21  85~89세   78 non-null     int64
 22  90~94세   78 non-null     object
 23  95~99세   78 non-null     object
 24  100세 이상  78 non-null     object
dtypes: int64(20), object(5)
memory usage: 15.4+ KB

In [179]:
# 각 행별 기초 통계량 확인
df.describe()

,기간,계,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,50~54세,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세
count,78.0,7.800000e+01,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000
mean,2021.0,4.992834e+05,12822.769231,17702.358974,19078.974359,20234.153846,32726.871795,43467.794872,38965.384615,37147.333333,38251.743590,39329.435897,42164.461538,37474.923077,37588.205128,29130.051282,20427.538462,15378.820513,10232.461538,4927.897436
std,0.0,1.503271e+06,38672.100523,53553.339652,57975.200790,61278.570202,96882.306272,130247.809570,116874.879979,111540.836335,115336.903302,118664.502488,126844.636669,112095.969993,113726.814959,88423.351433,62129.880729,46814.003041,31146.442033,14996.645808
min,2021.0,2.007000e+03,51.000000,29.000000,25.000000,38.000000,158.000000,293.000000,299.000000,228.000000,156.000000,171.000000,168.000000,128.000000,67.000000,32.000000,8.000000,2.000000,1.000000,1.000000
25%,2021.0,1.383250e+04,300.500000,309.500000,207.000000,404.250000,2421.000000,1875.000000,1219.500000,981.750000,718.000000,689.500000,966.750000,1118.750000,491.000000,211.000000,106.000000,34.250000,25.000000,11.250000
50%,2021.0,3.102390e+05,7499.500000,10173.500000,10667.000000,11888.000000,20924.500000,26603.500000,23365.000000,22108.500000,22076.000000,23546.000000,27068.500000,24867.500000,23706.500000,17721.000000,12624.500000,10708.500000,6803.500000,3422.000000
75%,2021.0,4.281868e+05,11505.750000,15849.000000,16689.000000,17803.750000,27889.000000,36228.500000,32495.000000,31744.000000,32714.250000,34949.750000,36018.750000,33087.500000,33060.750000,26069.250000,17832.250000,13265.750000,8514.000000,4036.250000
max,2021.0,9.736027e+06,250044.000000,345196.000000,372040.000000,394566.000000,638174.000000,847622.000000,759825.000000,724373.000000,745909.000000,766924.000000,822207.000000,730761.000000,732970.000000,568036.000000,398337.000000,299887.000000,199533.000000,96094.000000

In [180]:
# 콜롬명 확인
df.columns

Index(['기간', '행정구역별', '구분', '계', '0~4세', '5~9세', '10~14세', '15~19세', '20~24세',
       '25~29세', '30~34세', '35~39세', '40~44세', '45~49세', '50~54세', '55~59세',
       '60~64세', '65~69세', '70~74세', '75~79세', '80~84세', '85~89세', '90~94세',
       '95~99세', '100세 이상'],
      dtype='object')

In [181]:
# 데이터 프레임의 크기 확인
df.shape

(78, 25)

In [182]:
# 특정 콜롬만 추출하여 보기
df['행정구역별']

0      합계
1      합계
2      합계
3     종로구
4     종로구
     ...
73    송파구
74    송파구
75    강동구
76    강동구
77    강동구
Name: 행정구역별, Length: 78, dtype: object

In [183]:
# 두개 이상의 콜롬을 추출하는 경우
df[["행정구역별",'구분']]

   행정구역별     구분
0     합계      계
1     합계    한국인
2     합계  등록외국인
3    종로구      계
4    종로구    한국인
..   ...    ...
73   송파구    한국인
74   송파구  등록외국인
75   강동구      계
76   강동구    한국인
77   강동구  등록외국인

[78 rows x 2 columns]

In [184]:
# 데이터 프레임 인덱싱
# 첫번째 인덱스에 위치한 데이터 확인
df.loc[0]

기간            2021
행정구역별           합계
구분               계
계          9736027
0~4세        250044
5~9세        345196
10~14세      372040
15~19세      394566
20~24세      638174
25~29세      847622
30~34세      759825
35~39세      724373
40~44세      745909
45~49세      766924
50~54세      822207
55~59세      730761
60~64세      732970
65~69세      568036
70~74세      398337
75~79세      299887
80~84세      199533
85~89세       96094
90~94세       33907
95~99세        7957
100세 이상       1665
Name: 0, dtype: object

In [185]:
# 두개 이상을 확인하는 경우
# 첫번째/두번째 데이터 확인
df.loc[[0,1]]

,기간,행정구역별,구분,계,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
0,2021,합계,계,9736027,250044,345196,372040,394566,638174,847622,...,730761,732970,568036,398337,299887,199533,96094,33907,7957,1665
1,2021,합계,한국인,9509458,244538,339145,367879,388257,603077,819200,...,705302,722662,563260,396569,299231,199138,95871,33815,7920,1643

In [186]:
# 문자열/리스트 등에서 사용되는 슬라이싱 방법 사용 가능
df.loc[:1]

,기간,행정구역별,구분,계,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
0,2021,합계,계,9736027,250044,345196,372040,394566,638174,847622,...,730761,732970,568036,398337,299887,199533,96094,33907,7957,1665
1,2021,합계,한국인,9509458,244538,339145,367879,388257,603077,819200,...,705302,722662,563260,396569,299231,199138,95871,33815,7920,1643

In [187]:
# 특정 행과 특정 인덱스만 추출하기
df[["행정구역별",'구분']].loc[[0,1]]

  행정구역별   구분
0    합계    계
1    합계  한국인

In [188]:
# 특정 행과 특정 인덱스만 추출하기
df.iloc[[0,1],[1,2]]

  행정구역별   구분
0    합계    계
1    합계  한국인

In [189]:
# 특정 조건을 만족하는 데이터 추출하기
df[df['행정구역별']=="종로구"] #행정구역인 종로구인 데이터만 추출

,기간,행정구역별,구분,계,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
3,2021,종로구,계,153789,2849,4439,5092,5849,12935,14201,...,12371,11770,8954,6312,5400,4089,2078,753,200,32
4,2021,종로구,한국인,144683,2720,4264,4934,5447,9965,12837,...,11857,11511,8841,6254,5383,4078,2071,750,200,32
5,2021,종로구,등록외국인,9106,129,175,158,402,2970,1364,...,514,259,113,58,17,11,7,3,-,-

In [190]:
df[df['계']>500000] # 합계가 500000 초과인 데이터만 추출

,기간,행정구역별,구분,계,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
0,2021,합계,계,9736027,250044,345196,372040,394566,638174,847622,...,730761,732970,568036,398337,299887,199533,96094,33907,7957,1665
1,2021,합계,한국인,9509458,244538,339145,367879,388257,603077,819200,...,705302,722662,563260,396569,299231,199138,95871,33815,7920,1643
33,2021,노원구,계,514946,12189,18577,23497,27049,36784,35017,...,39540,39923,30964,21084,16240,11549,5850,2118,454,86
34,2021,노원구,한국인,510956,12124,18534,23464,26848,35634,34322,...,39358,39822,30925,21066,16230,11545,5848,2117,454,86
48,2021,강서구,계,579768,15806,21151,21316,22326,33079,53456,...,41191,44944,34852,23494,15986,10347,5271,2042,484,82
49,2021,강서구,한국인,574315,15619,21027,21245,22272,32819,52833,...,40549,44659,34723,23443,15962,10338,5265,2039,484,82
69,2021,강남구,계,537800,12418,22430,29848,29473,32190,40033,...,34937,33089,28635,20186,14430,8463,4148,1785,472,107
70,2021,강남구,한국인,533042,12363,22363,29794,29347,31679,39095,...,34697,32976,28551,20157,14410,8455,4145,1782,472,106
72,2021,송파구,계,663965,20385,28248,29050,28760,38539,52819,...,48310,49229,38686,24823,16504,9808,5210,2041,529,90
73,2021,송파구,한국인,658338,20263,28110,28956,28679,38241,52181,...,47606,48952,38584,24774,16486,9796,5206,2039,528,90

In [191]:
# 두개 이상의 조건을 사용하기
# 합계가 500000 초과를 만족하고 구분이 한국인 데이터만 추출
df[(df['계']>500000) & (df['구분']=='한국인')]

,기간,행정구역별,구분,계,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
1,2021,합계,한국인,9509458,244538,339145,367879,388257,603077,819200,...,705302,722662,563260,396569,299231,199138,95871,33815,7920,1643
34,2021,노원구,한국인,510956,12124,18534,23464,26848,35634,34322,...,39358,39822,30925,21066,16230,11545,5848,2117,454,86
49,2021,강서구,한국인,574315,15619,21027,21245,22272,32819,52833,...,40549,44659,34723,23443,15962,10338,5265,2039,484,82
70,2021,강남구,한국인,533042,12363,22363,29794,29347,31679,39095,...,34697,32976,28551,20157,14410,8455,4145,1782,472,106
73,2021,송파구,한국인,658338,20263,28110,28956,28679,38241,52181,...,47606,48952,38584,24774,16486,9796,5206,2039,528,90

In [192]:
# 새로운 콜롬 만들기
# 0~4세와 5~9세를 더하여 '유아' 라는 새로운 콜롬을 만들기
df['유아'] = df['0~4세'] + df['5~9세']

In [193]:
df

,기간,행정구역별,구분,계,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,...,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상,유아
0,2021,합계,계,9736027,250044,345196,372040,394566,638174,847622,...,732970,568036,398337,299887,199533,96094,33907,7957,1665,595240
1,2021,합계,한국인,9509458,244538,339145,367879,388257,603077,819200,...,722662,563260,396569,299231,199138,95871,33815,7920,1643,583683
2,2021,합계,등록외국인,226569,5506,6051,4161,6309,35097,28422,...,10308,4776,1768,656,395,223,92,37,22,11557
3,2021,종로구,계,153789,2849,4439,5092,5849,12935,14201,...,11770,8954,6312,5400,4089,2078,753,200,32,7288
4,2021,종로구,한국인,144683,2720,4264,4934,5447,9965,12837,...,11511,8841,6254,5383,4078,2071,750,200,32,6984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,2021,송파구,한국인,658338,20263,28110,28956,28679,38241,52181,...,48952,38584,24774,16486,9796,5206,2039,528,90,48373
74,2021,송파구,등록외국인,5627,122,138,94,81,298,638,...,277,102,49,18,12,4,2,1,-,260
75,2021,강동구,계,466472,14770,19737,19953,19025,25956,35173,...,37555,29298,18937,12619,7513,3785,1495,342,81,34507
76,2021,강동구,한국인,462664,14678,19643,19891,18959,25732,34735,...,37366,29216,18910,12608,7509,3784,1494,342,80,34321
77,2021,강동구,등록외국인,3808,92,94,62,66,224,438,...,189,82,27,11,4,1,1,-,1,186

In [194]:
# 10~14세
df.iloc[:,6]

0     372040
1     367879
2       4161
3       5092
4       4934
       ...
73     28956
74        94
75     19953
76     19891
77        62
Name: 10~14세, Length: 78, dtype: int64

In [195]:
# 15~19세
df.iloc[:,7]

0     394566
1     388257
2       6309
3       5849
4       5447
       ...
73     28679
74        81
75     19025
76     18959
77        66
Name: 15~19세, Length: 78, dtype: int64

In [196]:
df['10대'] = df.iloc[:,6] + df.iloc[:,7]

In [197]:
df

,기간,행정구역별,구분,계,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,...,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상,유아,10대
0,2021,합계,계,9736027,250044,345196,372040,394566,638174,847622,...,568036,398337,299887,199533,96094,33907,7957,1665,595240,766606
1,2021,합계,한국인,9509458,244538,339145,367879,388257,603077,819200,...,563260,396569,299231,199138,95871,33815,7920,1643,583683,756136
2,2021,합계,등록외국인,226569,5506,6051,4161,6309,35097,28422,...,4776,1768,656,395,223,92,37,22,11557,10470
3,2021,종로구,계,153789,2849,4439,5092,5849,12935,14201,...,8954,6312,5400,4089,2078,753,200,32,7288,10941
4,2021,종로구,한국인,144683,2720,4264,4934,5447,9965,12837,...,8841,6254,5383,4078,2071,750,200,32,6984,10381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,2021,송파구,한국인,658338,20263,28110,28956,28679,38241,52181,...,38584,24774,16486,9796,5206,2039,528,90,48373,57635
74,2021,송파구,등록외국인,5627,122,138,94,81,298,638,...,102,49,18,12,4,2,1,-,260,175
75,2021,강동구,계,466472,14770,19737,19953,19025,25956,35173,...,29298,18937,12619,7513,3785,1495,342,81,34507,38978
76,2021,강동구,한국인,462664,14678,19643,19891,18959,25732,34735,...,29216,18910,12608,7509,3784,1494,342,80,34321,38850
77,2021,강동구,등록외국인,3808,92,94,62,66,224,438,...,82,27,11,4,1,1,-,1,186,128

In [198]:
age_list = []
for i in range(1,10):
  print(str(i)+"0대")
  age_list.append(str(i)+"0대")

10대
20대
30대
40대
50대
60대
70대
80대
90대

In [199]:
age_list

['10대', '20대', '30대', '40대', '50대', '60대', '70대', '80대', '90대']

In [200]:
age_list.insert(0,"유아")

In [201]:
age_list

['유아', '10대', '20대', '30대', '40대', '50대', '60대', '70대', '80대', '90대']

In [202]:
for i in range(len(age_list)):
  df[age_list[i]] = df.iloc[:,i+5] + df.iloc[:,i+6]

### 콜롬 삭제하기 [ .drop() ]

#### drop()으로 데이터프레임 콜롬 삭제하기

In [203]:
# '기간' 이라는 콜롬을 axis=1은 세로축으로 drop 한다는 뜻
df.drop('기간',axis=1)

,행정구역별,구분,계,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,...,유아,10대,20대,30대,40대,50대,60대,70대,80대,90대
0,합계,계,9736027,250044,345196,372040,394566,638174,847622,759825,...,717236,766606,1032740,1485796,1607447,1484198,1470282,1512833,1589131,1552968
1,합계,한국인,9509458,244538,339145,367879,388257,603077,819200,736001,...,707024,756136,991334,1422277,1555201,1439279,1432844,1480780,1553106,1507194
2,합계,등록외국인,226569,5506,6051,4161,6309,35097,28422,23824,...,10212,10470,41406,63519,52246,44919,37438,32053,36025,45774
3,종로구,계,153789,2849,4439,5092,5849,12935,14201,11044,...,9531,10941,18784,27136,25245,20882,20317,22019,25104,25935
4,종로구,한국인,144683,2720,4264,4934,5447,9965,12837,10302,...,9198,10381,15412,22802,23139,19470,19077,20969,24160,24957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,송파구,한국인,658338,20263,28110,28956,28679,38241,52181,52908,...,57066,57635,66920,90422,105089,106630,108627,107209,106312,101614
74,송파구,등록외국인,5627,122,138,94,81,298,638,788,...,232,175,379,936,1426,1525,1229,955,1070,1311
75,강동구,계,466472,14770,19737,19953,19025,25956,35173,35027,...,39690,38978,44981,61129,70200,72053,76099,75518,74025,72662
76,강동구,한국인,462664,14678,19643,19891,18959,25732,34735,34541,...,39534,38850,44691,60467,69276,71097,75289,74854,73292,71766
77,강동구,등록외국인,3808,92,94,62,66,224,438,486,...,156,128,290,662,924,956,810,664,733,896

In [204]:
# 삭제를 해주기 위해서는 
# 삭제한 것을 다시 df로 저장하거나 예: df = df.drop('기간',axis=1)
df.drop('기간',axis=1, inplace=True) # inplace=True 를 통해 해당 df 자체에서 발생하도록 설정해줘야함

In [205]:
# 기간이 삭제된 것을 확인하기
df.head(4)

,행정구역별,구분,계,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,...,유아,10대,20대,30대,40대,50대,60대,70대,80대,90대
0,합계,계,9736027,250044,345196,372040,394566,638174,847622,759825,...,717236,766606,1032740,1485796,1607447,1484198,1470282,1512833,1589131,1552968
1,합계,한국인,9509458,244538,339145,367879,388257,603077,819200,736001,...,707024,756136,991334,1422277,1555201,1439279,1432844,1480780,1553106,1507194
2,합계,등록외국인,226569,5506,6051,4161,6309,35097,28422,23824,...,10212,10470,41406,63519,52246,44919,37438,32053,36025,45774
3,종로구,계,153789,2849,4439,5092,5849,12935,14201,11044,...,9531,10941,18784,27136,25245,20882,20317,22019,25104,25935

#### 여러개의 콜롬을 삭제하기

In [206]:
# 삭제할 콜롬 명 확인하기
df.columns[3:23]

Index(['0~4세', '5~9세', '10~14세', '15~19세', '20~24세', '25~29세', '30~34세',
       '35~39세', '40~44세', '45~49세', '50~54세', '55~59세', '60~64세', '65~69세',
       '70~74세', '75~79세', '80~84세', '85~89세', '90~94세', '95~99세'],
      dtype='object')

In [207]:
# 콜롬 삭제 하기
df.drop(df.columns[3:23] ,axis=1, inplace=True)

In [212]:
df.head(3)

,행정구역별,구분,계,100세 이상,유아,10대,20대,30대,40대,50대,60대,70대,80대,90대
0,합계,계,9736027,1665,717236,766606,1032740,1485796,1607447,1484198,1470282,1512833,1589131,1552968
1,합계,한국인,9509458,1643,707024,756136,991334,1422277,1555201,1439279,1432844,1480780,1553106,1507194
2,합계,등록외국인,226569,22,10212,10470,41406,63519,52246,44919,37438,32053,36025,45774

### 콜롬 위치 새로 정렬하기

In [213]:
df.columns

Index(['행정구역별', '구분', '계', '100세 이상', '유아', '10대', '20대', '30대', '40대', '50대',
       '60대', '70대', '80대', '90대'],
      dtype='object')

In [216]:
df = df[['행정구역별', '구분', '유아', '10대', '20대', '30대', '40대', '50대','60대', '70대', '80대', '90대', '100세 이상','계']]

In [217]:
df.head(5)

,행정구역별,구분,유아,10대,20대,30대,40대,50대,60대,70대,80대,90대,100세 이상,계
0,합계,계,717236,766606,1032740,1485796,1607447,1484198,1470282,1512833,1589131,1552968,1665,9736027
1,합계,한국인,707024,756136,991334,1422277,1555201,1439279,1432844,1480780,1553106,1507194,1643,9509458
2,합계,등록외국인,10212,10470,41406,63519,52246,44919,37438,32053,36025,45774,22,226569
3,종로구,계,9531,10941,18784,27136,25245,20882,20317,22019,25104,25935,32,153789
4,종로구,한국인,9198,10381,15412,22802,23139,19470,19077,20969,24160,24957,32,144683

### 데이터 삭제하기 [ .drop() ]

In [218]:
# 구분이 계가 아닌것을 추출
df[df['구분'] != "계"]

,행정구역별,구분,유아,10대,20대,30대,40대,50대,60대,70대,80대,90대,100세 이상,계
1,합계,한국인,707024,756136,991334,1422277,1555201,1439279,1432844,1480780,1553106,1507194,1643,9509458
2,합계,등록외국인,10212,10470,41406,63519,52246,44919,37438,32053,36025,45774,22,226569
4,종로구,한국인,9198,10381,15412,22802,23139,19470,19077,20969,24160,24957,32,144683
5,종로구,등록외국인,333,560,3372,4334,2106,1412,1240,1050,944,978,-,9106
7,중구,한국인,6425,6474,10790,18309,21328,19886,18305,17379,18936,20043,26,122499
8,중구,등록외국인,521,496,2022,3134,2353,1852,1555,1278,1232,1324,-,9288
10,용산구,한국인,13799,14692,21031,32778,39166,37719,34864,33781,36279,36122,71,222953
11,용산구,등록외국인,1466,1127,1334,2237,3105,3672,3588,2915,2420,1997,2,14332
13,성동구,한국인,19041,18903,28444,43463,48171,46815,45586,43346,45482,46154,48,285990
14,성동구,등록외국인,179,271,1974,2911,1802,1179,912,750,806,941,3,6682
16,광진구,한국인,22273,24774,37843,61616,66163,54715,50083,50470,54008,53801,50,339996
17,광진구,등록외국인,511,614,3501,5103,3210,2095,1535,1256,1526,2175,1,12631
19,동대문구,한국인,21790,22767,37567,56271,55358,49023,48725,49002,51758,52243,69,337400
20,동대문구,등록외국인,252,753,6678,9194,4382,1913,1193,897,895,1090,-,14606
22,중랑구,한국인,23903,25432,35452,54128,61526,57025,55331,55710,62004,67518,67,387350
23,중랑구,등록외국인,248,197,547,1081,1330,1195,836,644,685,803,-,4535
25,성북구,한국인,33316,35986,50235,65580,62727,58415,61843,67446,73218,69280,65,430528
26,성북구,등록외국인,226,726,4024,5246,2803,1594,1079,783,705,664,1,9614
28,강북구,한국인,18174,20796,29515,41001,41209,37120,39063,43923,50289,51700,45,299182
29,강북구,등록외국인,105,106,652,1067,931,782,601,477,434,525,2,3381
31,도봉구,한국인,21603,24311,32059,41496,41624,39246,41713,46156,53385,56006,89,317366
32,도봉구,등록외국인,54,63,317,601,621,527,384,327,339,296,-,2007
34,노원구,한국인,41998,50312,62482,69956,65063,63138,69990,81770,91848,87029,86,510956
35,노원구,등록외국인,76,234,1351,1845,1163,815,592,434,386,379,-,3990
37,은평구,한국인,33747,37208,47814,65282,70488,67027,69506,74103,79363,77244,72,473307
38,은평구,등록외국인,151,198,391,753,997,999,837,642,664,713,-,3866
40,서대문구,한국인,21398,22493,33668,48896,49625,44235,43886,45250,49110,48640,73,304819
41,서대문구,등록외국인,342,720,4063,5527,3008,1713,1280,999,847,827,1,10840
43,마포구,한국인,26970,27705,39107,61353,68912,63597,60615,59819,60536,54962,72,368905
44,마포구,등록외국인,337,452,2558,4182,3183,2113,1525,1116,928,939,3,9781
46,양천구,한국인,43443,49472,52205,57388,56649,55657,65208,76508,81694,76170,57,447302
47,양천구,등록외국인,150,118,204,451,683,768,674,599,680,811,2,3185
49,강서구,한국인,42272,43517,55091,85652,103895,97831,92400,89266,87494,84408,82,574315
50,강서구,등록외국인,195,125,314,883,1418,1515,1247,952,943,1160,-,5453
52,구로구,한국인,28886,29191,36970,53703,62429,61071,60720,61183,62758,62294,42,396754
53,구로구,등록외국인,1318,776,938,1753,3316,4649,4410,4293,5813,8424,-,24409
55,금천구,한국인,12941,13955,21081,37202,43746,36570,31739,31638,35777,39348,30,230811
56,금천구,등록외국인,831,463,480,967,1851,2579,2460,2523,3570,5002,1,14080
58,영등포구,한국인,24594,23640,33567,58693,74139,69403,60867,55441,56270,56262,53,376837
59,영등포구,등록외국인,1340,856,959,1703,3120,4261,4188,4192,5712,8469,-,24071
61,동작구,한국인,26072,26967,40689,64882,70443,60826,57162,57207,59421,58073,84,385483
62,동작구,등록외국인,251,362,2173,3206,2116,1489,1153,940,1184,1795,3,8881
64,관악구,한국인,23674,27057,52577,108154,120506,85556,68076,65543,67890,67025,61,485699
65,관악구,등록외국인,504,509,1854,3534,3585,2819,2104,1772,2246,3234,-,13750
67,서초구,한국인,42750,44477,45098,52009,57098,59545,67522,75078,74156,62579,93,412279
68,서초구,등록외국인,313,261,394,760,1019,1041,955,814,664,512,1,3888
70,강남구,한국인,52157,59141,61026,70774,77432,77662,86647,97729,97666,81956,106,533042
71,강남구,등록외국인,121,180,637,1449,1794,1456,1051,781,599,509,1,4758
73,송파구,한국인,57066,57635,66920,90422,105089,106630,108627,107209,106312,101614,90,658338
74,송파구,등록외국인,232,175,379,936,1426,1525,1229,955,1070,1311,-,5627
76,강동구,한국인,39534,38850,44691,60467,69276,71097,75289,74854,73292,71766,80,462664
77,강동구,등록외국인,156,128,290,662,924,956,810,664,733,896,1,3808

In [219]:
# 구분이 계 가 아닌 데이터의 인덱스 추출
df[df['구분'] != "계"].index

Int64Index([ 1,  2,  4,  5,  7,  8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25,
            26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50,
            52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76,
            77],
           dtype='int64')

In [220]:
# 해당 인덱스를 가로축으로 제거하고 자체에서 실행되도록 설정
df.drop(df[df['구분'] != "계"].index, axis=0, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [222]:
# 첫번째 인덱스인 합계를 삭제
df.drop(0, axis=0, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [223]:
df.head(3)

,행정구역별,구분,유아,10대,20대,30대,40대,50대,60대,70대,80대,90대,100세 이상,계
3,종로구,계,9531,10941,18784,27136,25245,20882,20317,22019,25104,25935,32,153789
6,중구,계,6946,6970,12812,21443,23681,21738,19860,18657,20168,21367,26,131787
9,용산구,계,15265,15819,22365,35015,42271,41391,38452,36696,38699,38119,73,237285

In [224]:
# 구분 콜롬 삭제
df.drop('구분',axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [225]:
df.head(3)

,행정구역별,유아,10대,20대,30대,40대,50대,60대,70대,80대,90대,100세 이상,계
3,종로구,9531,10941,18784,27136,25245,20882,20317,22019,25104,25935,32,153789
6,중구,6946,6970,12812,21443,23681,21738,19860,18657,20168,21367,26,131787
9,용산구,15265,15819,22365,35015,42271,41391,38452,36696,38699,38119,73,237285

### 인덱스 재설정하기.

In [226]:
df

,행정구역별,유아,10대,20대,30대,40대,50대,60대,70대,80대,90대,100세 이상,계
3,종로구,9531,10941,18784,27136,25245,20882,20317,22019,25104,25935,32,153789
6,중구,6946,6970,12812,21443,23681,21738,19860,18657,20168,21367,26,131787
9,용산구,15265,15819,22365,35015,42271,41391,38452,36696,38699,38119,73,237285
12,성동구,19220,19174,30418,46374,49973,47994,46498,44096,46288,47095,51,292672
15,광진구,22784,25388,41344,66719,69373,56810,51618,51726,55534,55976,51,352627
18,동대문구,22042,23520,44245,65465,59740,50936,49918,49899,52653,53333,69,352006
21,중랑구,24151,25629,35999,55209,62856,58220,56167,56354,62689,68321,67,391885
24,성북구,33542,36712,54259,70826,65530,60009,62922,68229,73923,69944,66,440142
27,강북구,18279,20902,30167,42068,42140,37902,39664,44400,50723,52225,47,302563
30,도봉구,21657,24374,32376,42097,42245,39773,42097,46483,53724,56302,89,319373
33,노원구,42074,50546,63833,71801,66226,63953,70582,82204,92234,87408,86,514946
36,은평구,33898,37406,48205,66035,71485,68026,70343,74745,80027,77957,72,477173
39,서대문구,21740,23213,37731,54423,52633,45948,45166,46249,49957,49467,74,315659
42,마포구,27307,28157,41665,65535,72095,65710,62140,60935,61464,55901,75,378686
45,양천구,43593,49590,52409,57839,57332,56425,65882,77107,82374,76981,59,450487
48,강서구,42467,43642,55405,86535,105313,99346,93647,90218,88437,85568,82,579768
51,구로구,30204,29967,37908,55456,65745,65720,65130,65476,68571,70718,42,421163
54,금천구,13772,14418,21561,38169,45597,39149,34199,34161,39347,44350,31,244891
57,영등포구,25934,24496,34526,60396,77259,73664,65055,59633,61982,64731,53,400908
60,동작구,26323,27329,42862,68088,72559,62315,58315,58147,60605,59868,87,394364
63,관악구,24178,27566,54431,111688,124091,88375,70180,67315,70136,70259,61,499449
66,서초구,43063,44738,45492,52769,58117,60586,68477,75892,74820,63091,94,416167
69,강남구,52278,59321,61663,72223,79226,79118,87698,98510,98265,82465,107,537800
72,송파구,57298,57810,67299,91358,106515,108155,109856,108164,107382,102925,90,663965
75,강동구,39690,38978,44981,61129,70200,72053,76099,75518,74025,72662,81,466472

In [227]:
df.reset_index()

,index,행정구역별,유아,10대,20대,30대,40대,50대,60대,70대,80대,90대,100세 이상,계
0,3,종로구,9531,10941,18784,27136,25245,20882,20317,22019,25104,25935,32,153789
1,6,중구,6946,6970,12812,21443,23681,21738,19860,18657,20168,21367,26,131787
2,9,용산구,15265,15819,22365,35015,42271,41391,38452,36696,38699,38119,73,237285
3,12,성동구,19220,19174,30418,46374,49973,47994,46498,44096,46288,47095,51,292672
4,15,광진구,22784,25388,41344,66719,69373,56810,51618,51726,55534,55976,51,352627
5,18,동대문구,22042,23520,44245,65465,59740,50936,49918,49899,52653,53333,69,352006
6,21,중랑구,24151,25629,35999,55209,62856,58220,56167,56354,62689,68321,67,391885
7,24,성북구,33542,36712,54259,70826,65530,60009,62922,68229,73923,69944,66,440142
8,27,강북구,18279,20902,30167,42068,42140,37902,39664,44400,50723,52225,47,302563
9,30,도봉구,21657,24374,32376,42097,42245,39773,42097,46483,53724,56302,89,319373
10,33,노원구,42074,50546,63833,71801,66226,63953,70582,82204,92234,87408,86,514946
11,36,은평구,33898,37406,48205,66035,71485,68026,70343,74745,80027,77957,72,477173
12,39,서대문구,21740,23213,37731,54423,52633,45948,45166,46249,49957,49467,74,315659
13,42,마포구,27307,28157,41665,65535,72095,65710,62140,60935,61464,55901,75,378686
14,45,양천구,43593,49590,52409,57839,57332,56425,65882,77107,82374,76981,59,450487
15,48,강서구,42467,43642,55405,86535,105313,99346,93647,90218,88437,85568,82,579768
16,51,구로구,30204,29967,37908,55456,65745,65720,65130,65476,68571,70718,42,421163
17,54,금천구,13772,14418,21561,38169,45597,39149,34199,34161,39347,44350,31,244891
18,57,영등포구,25934,24496,34526,60396,77259,73664,65055,59633,61982,64731,53,400908
19,60,동작구,26323,27329,42862,68088,72559,62315,58315,58147,60605,59868,87,394364
20,63,관악구,24178,27566,54431,111688,124091,88375,70180,67315,70136,70259,61,499449
21,66,서초구,43063,44738,45492,52769,58117,60586,68477,75892,74820,63091,94,416167
22,69,강남구,52278,59321,61663,72223,79226,79118,87698,98510,98265,82465,107,537800
23,72,송파구,57298,57810,67299,91358,106515,108155,109856,108164,107382,102925,90,663965
24,75,강동구,39690,38978,44981,61129,70200,72053,76099,75518,74025,72662,81,466472

In [228]:
df.reset_index(drop=True,inplace=True)

In [229]:
df

,행정구역별,유아,10대,20대,30대,40대,50대,60대,70대,80대,90대,100세 이상,계
0,종로구,9531,10941,18784,27136,25245,20882,20317,22019,25104,25935,32,153789
1,중구,6946,6970,12812,21443,23681,21738,19860,18657,20168,21367,26,131787
2,용산구,15265,15819,22365,35015,42271,41391,38452,36696,38699,38119,73,237285
3,성동구,19220,19174,30418,46374,49973,47994,46498,44096,46288,47095,51,292672
4,광진구,22784,25388,41344,66719,69373,56810,51618,51726,55534,55976,51,352627
5,동대문구,22042,23520,44245,65465,59740,50936,49918,49899,52653,53333,69,352006
6,중랑구,24151,25629,35999,55209,62856,58220,56167,56354,62689,68321,67,391885
7,성북구,33542,36712,54259,70826,65530,60009,62922,68229,73923,69944,66,440142
8,강북구,18279,20902,30167,42068,42140,37902,39664,44400,50723,52225,47,302563
9,도봉구,21657,24374,32376,42097,42245,39773,42097,46483,53724,56302,89,319373
10,노원구,42074,50546,63833,71801,66226,63953,70582,82204,92234,87408,86,514946
11,은평구,33898,37406,48205,66035,71485,68026,70343,74745,80027,77957,72,477173
12,서대문구,21740,23213,37731,54423,52633,45948,45166,46249,49957,49467,74,315659
13,마포구,27307,28157,41665,65535,72095,65710,62140,60935,61464,55901,75,378686
14,양천구,43593,49590,52409,57839,57332,56425,65882,77107,82374,76981,59,450487
15,강서구,42467,43642,55405,86535,105313,99346,93647,90218,88437,85568,82,579768
16,구로구,30204,29967,37908,55456,65745,65720,65130,65476,68571,70718,42,421163
17,금천구,13772,14418,21561,38169,45597,39149,34199,34161,39347,44350,31,244891
18,영등포구,25934,24496,34526,60396,77259,73664,65055,59633,61982,64731,53,400908
19,동작구,26323,27329,42862,68088,72559,62315,58315,58147,60605,59868,87,394364
20,관악구,24178,27566,54431,111688,124091,88375,70180,67315,70136,70259,61,499449
21,서초구,43063,44738,45492,52769,58117,60586,68477,75892,74820,63091,94,416167
22,강남구,52278,59321,61663,72223,79226,79118,87698,98510,98265,82465,107,537800
23,송파구,57298,57810,67299,91358,106515,108155,109856,108164,107382,102925,90,663965
24,강동구,39690,38978,44981,61129,70200,72053,76099,75518,74025,72662,81,466472

In [230]:
# 수정한 데이터를 저장하고 다운받기
df.to_excel("서울시구별인구데이터.xlsx", encoding='utf-8-sig')

## 실습: Folium을 활용하여 인구데이터 시각화하기

In [257]:
import folium
import json
import re

# 서울시 구별 지도 정보가 포함된 geo_json 파일
geo_json='https://raw.githubusercontent.com/southkorea/seoul-maps/master/kostat/2013/json/seoul_municipalities_geo_simple.json'

# folium이란 패키지를 가져와 지도를 형성
m=folium.Map(
    location=[37.566345,126.977893], #기준이되는 경위도 정보 서울시= [37.566345,126.977893]
    tiles='OpenStreetMap' # 지도 종류 'OpenStreetMap' / 'Stamen Terrain' 
)

# 특정 부분에 마커 표시하기.
folium.Marker([37.566345,126.977893],
              popup="서울시 기준",
              tooltip="서울시 기준이 되는 곳").add_to(m)
m
m

In [256]:

# 서울시 구별 지도 정보가 포함된 geo_json 파일
geo_json='https://raw.githubusercontent.com/southkorea/seoul-maps/master/kostat/2013/json/seoul_municipalities_geo_simple.json'

# folium이란 패키지를 가져와 지도를 형성
m=folium.Map(
    location=[37.566345,126.977893], #기준이되는 경위도 정보 서울시= [37.566345,126.977893]
    tiles='OpenStreetMap', # 지도 종류 'OpenStreetMap' / 'Stamen Terrain' 
    zoom_start = 11 # 시작시 줌 위치 커질수록 가깝게
)

df2=df[['행정구역별','계']]
df2.columns=['name','values'] # geo_json 파일에 행정구역별 이름이 name으로 저장되어있음

folium.Choropleth(
    geo_data=geo_json,
    name='choropleth',
    data=df2,
    columns=['name','values'],
    key_on='feature.properties.name',
    fill_color='BuGn', #타일색 종류 ['BuGn', 'BuPu', 'GnBu', 'OrRd', 'PuBu', 'PuBuGn', 'PuRd', 'RdPu', 'YlGn', 'YlGnBu', 'YlOrBr', 'YlOrRd' ]
    fill_opacity=0.9, #타일투명도
    line_opacity=0.1 #선투명도
).add_to(m)

m

In [258]:
### 추가 실습: 10대 / 20대 / 30대 등의 정보를 시각화 해보기