<a href="https://colab.research.google.com/github/Hanbi-Kim/IntroToPython/blob/main/Code/W01_Python_Introduction_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 1. 코랩 작업 환경 구성하기

In [ ]:
# 구글 드라이브와 연동하기.
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
# 현재 폴더 안에 파일 확인하기.
! dir

sample_data

In [ ]:
# 현재 경로 확인하기.
! pwd

/content

In [ ]:
# 작업환경 경로 이동하기.
% cd ./gdrive

/content/gdrive

### 주석 처리

1. 텍스트 셀을 만들어서 주석처리 하기

In [ ]:
# 2. #을 이용하여 주석처리하기. ( 단축키: Ctrl + /)

# Chapter 2. 변수(Variable) 생성하기

### 2-1 변수 만들고 출력하기. [ print() ]

"=" 기호가 수학적 의미의 "같다"(EQUAL)가 아닌 프로그래밍에서는 변수에 "할당한다"(ASSIGN)는 의미로 쓰인다는 것을 이해하기.

In [ ]:
# a 라는 변수에 숫자 1을 할당하기.
a = 1

In [ ]:
# 변수 a에는 1이 저장되었음으로, print(a)의 경우 변수 a에 저장된 1을 출력함
print(a)

1

In [ ]:
# a 라는 변수에 1을 더하고, 해당 값을 다시 a에 할당해줌
a = a + 1

In [ ]:
# 원래 a에 저당된 1에 1이 더해짐으로 2가 출력됨
print(a)

2

In [ ]:
# 문자 데이터를 변수에 지정하기
sentence = 'Hello, World!'

In [ ]:
# sentence 변수에 저장된 문자를 출력하기.
print(sentence)

Hello, World!

### 2-2 변수 이름으로 사용할 수 없는 단어.

In [ ]:
# for / in / def 등 파이썬 프로그래밍에서 문법 용어로 사용되는 단어는 변수로 사용할 수 없다.
# "invalid syntax"는 파이썬 문법에 맞지 않다는 오류 신호이다. 
for = 4 # 코랩에서 보라색으로 색칠된것을 볼 수 있다.

SyntaxError: ignored

In [ ]:
# 4라는 변수를 four에 할당하고 출력하기
four = 4
print(four)

4

### 2-3 변수 이름 만들기.

In [ ]:
# 변수 이름은 최대한 한번에 알아보기 쉬운 것으로 아래와 같은 방법으로 설정하자.
myHeight = 173
my_height = 173 #파이썬에서는 _ 를 활용하여 띄여쓰기를 하는 방법 선호

In [ ]:
print(my_height)

173

### 2-4 여러 변수 지정하기.

In [ ]:
# 여러 변수 한번에 지정해주기.
a = b = c = 2
e, f, g = 3, 4, 5

In [ ]:
# a,b,c 의 경우 2 라는 숫자가 동일하게 저장됨
print(a,b,c)

2 2 2

In [ ]:
# e, f, g 에는 각각 3, 4, 5 가 저장됨
print(e,f,g)

3 4 5

### 실습: my_name 변수를 생성하고 자신의 이름을 저장하고 이를 출력해보기.

# Chapter 3. 데이터 유형 01
파이썬에서 사용되는 데이터의 타입을 이해하고 활용하기

## 3-1 정수 타입 (INT)

In [ ]:
a = 15

In [ ]:
# type() 함수를 통하여, 변수의 데이터 타입을 확인할 수 있다.
type(a)

int

### 실습 01: 변수 b와 c의 데이터 타입을 예측하고 type() 통해 확인하기.

In [ ]:
b = 0
c = -100

## 3-2 실수형 타입 (Float)

In [ ]:
a = 3.14

In [ ]:
# 3.14 가 저장된 변수 a의 타입이 "float" 실수형인것을 확인하기
type(a)

float

### 실습 02: 변수 b와 c의 데이터 타입 예측하고 type()통해 확인하기.

In [ ]:
b = -12.214215
c = 1.0

## 3-3 문자열 타입 (String)

In [ ]:
# a 라는 변수에 '' 를 이용하여 문자열 타입의 데이터를 할당함
a = 'students'
type(a)

str

### 실습03: b,c,d 변수의 데이터 타입을 예측해보고 type() 통해서 결과를 확인하기.

In [ ]:
b = "나는 학생입니다." # "" 를 사용하여 데이터를 만든 경우
c = '0.000123' # 숫자를 입력한 경우
d = b # 또 다른 변수를 입력한 경우

## 3-4 불리안 타입 (Boolean)

In [ ]:
# True/False 두개의 불리안 타입의 경우, 프로그래밍에서 "yes"/"no"의 개념으로 이용된다.
a = True
b = False

In [ ]:
type(a)

bool

# Chapter 4. 데이터 유형 변경 (Casting)

### 4-1 정수형 타입을 실수형 타입으로 변환 [ float() ]

In [ ]:
# 변수 a 에는 1이 저장되어 데이터 유형이 정수형임을 확인
a = 1
type(a)

int

In [ ]:
# float()을 통해 변수 a의 유형을 실수형으로 변경하고 이를 a에 다시 저장함
a = float(a)

# 변수 a 의 데이터 유형이 실수형으로 변경되었다.
type(a)

float

In [ ]:
# a 의 값도 1에서 1.0으로 바뀐 것을 볼 수 있다.
print(a)

1.0

### 4-2 정수형 타입을 문자열로 변환 [ str() ]

In [ ]:
# str()을 통해 변수 a의 유형을 문자열로 변경하고 이를 a에 다시 저장함
a = str(a)

# 변수 a 의 데이터 유형이 문자열로 변경되었다.
type(a)

str

In [ ]:
# 변수 a에 '1234' 라는 문자열이 저장되었다.
a = '1234'
type(a)

str

In [ ]:
# 문자열 '1234'의 경우 문자에 숫자만 포함됨으로 이를 정수형으로 변경할 수 있다.
a = int(a)
type(a)

int

### 4-3 실수형 타입을 정수형으로 변환 [ int() , round() ]

In [ ]:
# 변수 a 에는 3.9999가 저장되어 데이터 유형이 실수형임을 확인
a = 3.9999
type(a)

float

In [ ]:
# a 의 타입을 정수형으로 변환하고 이를 다시 a에 저장해줌
a = int(a)
type(a)

int

In [ ]:
# 실수형에서 정수형으로 변환이 이러나는 경우 소수점 아래 자리를 버림
# 따라서, 3.9999 경우 3 으로 변환됨.
print(a)

3

In [ ]:
# 반올림을 하고 싶은 경우는 round()를 활용하여 해당 숫자를 반올림할 수 있다. 
a = 3.9999
a = round(a)
print(a)

4

### 4-4 문자열의 정수형/실수형 변환

In [ ]:
# 변수 a 에 '1234' 라는 숫자만 포함하고 있는 문자열 생성
a = '1234'

# 현재 a 의 유형은 문자열임을 확인
type(a)

str

In [ ]:
# 변수 a 는 숫자만 포함하고 있음으로 이를 정수형으로 변환하여 a_int 라는 변수에 저장
a_int = int(a)

# a_int의 타입이 정수혐임을 확인
type(a_int)

int

In [ ]:
# 변수 a 는 숫자만 포함하고 있음으로 이를 실수형으로 변환하여 a_float 라는 변수에 저장
a_float = float(a)

# a_int의 타입이 실수형임을 확인
type(a_float)

float

In [ ]:
# 변수 a 에 'student' 라는 문자를 포함하고 있는 문자열 생성
a = 'student'

# 현재 a 의 유형은 문자열임을 확인
type(a)

str

In [ ]:
# 문자를 가지고 있는 문자열은 정수형/실수형으로 변경할시 에러 발생
# ValueError: 프로그래밍 과정에서 지정된 값이 잘못된 경우 발생 
# 에러 내용: 'student'라는 문자열 변수를 10진법의 정수형으로 변경할 수 없다.
int(a)

ValueError: ignored

### 4-5 Casting 활용 이해하기 [ input() ]

In [ ]:
# input() 을 통해 사용자의 입력 값을 지정된 변수에 저장할 수 있다.
my_height = input("당신의 키를 입력해주세요. ")

당신의 키를 입력해주세요. 173

In [ ]:
# 위에서 input()을 통해 입력받은 값을 my_height라는 변수에 저장하고 이를 출력함
print(my_height)

173

In [ ]:
# input()으로 입력받은 값은 숫자든 문자든 문자열로 취급함
# 따라서, 추후 키를 더하거나 곱하거나 하는 숫자로 활용하고 싶은 경우, casting을 통하여 정수형/실수형 등으로 변경해줘야함
type(my_height)

str

#### 실습04: 입력받은 두 값을 더하는 계산기 프로그래밍 짜보기.

단계별 실습
1. input()을 통해 첫번째 입력받을 숫자를 변수 a 에 저장하기.
2. input()을 통해 두번째 입력받을 숫자를 변수 b 에 저장하기.
3. a,b를 각각 정수형으로 변환하여 a,b에 다시 저장하기.
4. 정수형으로 변환된 a와 b를 더하여 새로운 변수 c 에 저장하기.
5. 최종적으로 결과 c 출력하기.

## Chapter 5. 연산자

### 5-1 산술 연산자

In [ ]:
3 + 5

8

In [ ]:
5 - 2

3

In [ ]:
3 * 5

15

In [ ]:
# 3의 4승 
3 ** 4

81

<img src="https://img.hani.co.kr/imgdb/resize/2007/0423/04088596_20070423.JPG">

In [ ]:
# 딱 나누어 떨어지지 않으면 소수점으로 나눔
74 / 3

24.666666666666668

In [ ]:
# 소수점 전까지 나눔
74 // 3

24

In [ ]:
# 나눈 후 나머지 값
74 % 3

2

### 5-2 할당 연산자

In [ ]:
a = 1

In [ ]:
# a = a + 1 과 동일
a += 1
print(a)

2

In [ ]:
# a = a - 1 과 동일
a -= 1
print(a)

1

### 5-3 비교 연산자

In [ ]:
1 > 2

False

In [ ]:
1 >= 2

False

In [ ]:
1 <  2

True

In [ ]:
1 <= 2

True

In [ ]:
1 == 2

False

In [ ]:
1 != 2

True

### 5-3 논리 연산자

In [ ]:
x = 10

# 동시에 만족하여야 함
x > 1 and x < 5

False

In [ ]:
x = 10

# 하나만 만족해도 됨
x > 1 or x < 5

True

## Chapter 6. 문자열 다루기

### 6-1 문자열 인덱싱 (Indexing) [ len() ]

In [ ]:
sentence = "I am a student."

In [ ]:
# 파이썬의 시작은 0 부터 시작
sentence[0]

'I'

In [ ]:
# 파이썬에서 마지막은 -1 부터 시작 
sentence[-1]

'.'

In [ ]:
# 띄여쓰기, 공백도 문자로 포함 
sentence[1]

' '

In [ ]:
# 문자열 전체 길이 확인하기
len(sentence)

15

### 6-2 문자열 슬라이싱 (Slicing)

In [ ]:
# 첫번째부터 다섯번째 까지 (다섯번째 포함 안됨)
sentence[0:5]

'I am '

In [ ]:
# 0 인 경우는 생략 가능
sentence[:5]

'I am '

In [ ]:
# 다섯번째 부터 마지막까지 (마지막 포함 안됨)
sentence[5:-1]

'a student'

In [ ]:
# 끝 번호 생략시 끝까지 진행
sentence[5:]

'a student.'

### 6-3 문자열 합치기 (Concatenation)

In [ ]:
first_word = "Hello"
second_word = "World!"

In [ ]:
first_word + second_word

'HelloWorld!'

#### 실습05: 앞선 "Hello" 와 "World!"를 중간에 띄여쓰기를 추가하여 문장으로 합치기

### 6-4 문자열 수정 [ .upper() .lower() .replace() ]

In [ ]:
sentence.upper()

'I AM A STUDENT.'

In [ ]:
sentence.lower()

'i am a student.'

In [ ]:
sentence.replace('.','!')

'I am a student!'

#### 실습06: 문장 첫 글자만 대문자로 변환하기.

In [ ]:
# 해당 문장의 첫글자를 대문자로 변환하기.
sentence = 'i go to school.'

## Chapter 7. 데이터 유형 02

### 7-1 리스트 타입 (List)

In [ ]:
my_list = []
my_list1 = list((1, 2, 3, 4, 5, 6))
my_list2 = list(['a', 'b', 'c', 'd', 'e'])
my_list3 = [1, 'abc', '124', 3.1245, '나는 학생입니다.']

In [ ]:
type(my_list)

list

In [ ]:
type(my_list1)

list

In [ ]:
type(my_list2)

list

### 7-2 튜플 타입 (Tuple)

리스트와 튜플의 차이:
리스트는 수정이 가능하지만, 튜플은 수정할 수 없음.

In [ ]:
my_tuple = ()
my_tuple1 = tuple((1,2,3,4))
my_tuple2 = ('a', 'b', 'c')
my_tuple3 = (1, 3.14, 'abc')

In [ ]:
type(my_tuple)

tuple

### 7-3 레인지 타입 (Range)

파이썬의 시작은 0 부터 시작 <br>
range(4) = 0 부터 4 까지 = 리스트 [0, 1, 2, 3 ] 처럼 생각 <br>
range(1,5) = 1 부터 5 까지 = 리스트 [1, 2, 3, 4 ] 처럼 생각 <br>
range(1, 5, 2) = 1 부터 5 까지 2씩 건너뛰며 = 리스트 [1, 3] 처럼 생각

In [ ]:
my_range = range(4)
my_range1 = range(1,5)
my_range2 = range(1, 5, 2)

In [ ]:
type(my_range)

range

### 7-4 셋 타입 (Set)

셋과 리스트의 차이: 셋은 중복 값을 갖지 않는다.

In [ ]:
my_set1 = {1,2,3,4}
my_set2 = {1,2,3,4,1,2,3}
my_set = set((1,2,3,4))

In [ ]:
type(my_set1)

set

In [ ]:
print(my_set1)

{1, 2, 3, 4}

In [ ]:
# my_set1는 1,2,3,4,1,2,3 이지만, 1,2,3은 중복임으로 제거됨
print(my_set2)

{1, 2, 3, 4}

### 7-5 딕셔너리 타입 (Dict)

{key1:value1, key2:value2, .......}로 정의한다.

In [ ]:
my_dict = {
           '대한민국':'서울',
           '일본':'도쿄',
           '미국':'워싱턴DC'
           }
type(my_dict)

dict

In [ ]:
# 딕셔너리의 키값들 확인하기
my_dict.keys()

dict_keys(['대한민국', '일본', '미국'])

In [ ]:
# 딕셔너리의 벨류값들 확인하기
my_dict.values()

dict_values(['서울', '도쿄', '워싱턴DC'])

## Chapter 8. 리스트 다루기

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]

### 8-1 리스트 인덱싱/슬라이싱

앞선 문자열 다루기 부분의 인덱싱/슬라이싱 부분과 똑같이 작용

In [ ]:
my_list[0]

1

In [ ]:
my_list[-1]

6

In [ ]:
my_list[3:5]

[4, 5]

In [ ]:
len(my_list)

6

### 8-2 리스트 아이템 변경하기

In [ ]:
my_list

[1, 2, 3, 4, 5, 6]

In [ ]:
# my_list에 네번째 (파이썬은 0부터 시작함으로 3) 아이템 확인
my_list[3]

4

In [ ]:
# my_list의 네번째 아이템을 15로 변경하여 저장
my_list[3] = 15

In [ ]:
# 네번째 아이템인 4가 15로 변경됨을 확인
my_list

[1, 2, 3, 15, 5, 6]

### 8-3 리스트 아이템 추가하기 [ .append(), .insert() ]

In [ ]:
my_list

[1, 2, 3, 15, 5, 6]

In [ ]:
# .append(아이템)를 통해 리스트에 아이템 추가하기
my_list.append(30)

In [ ]:
# 추가된 아이템 30은 맨 마지막에 위치
my_list

[1, 2, 3, 15, 5, 6, 30]

In [ ]:
# .insert(위치,아이템)를 통해 해당 위치에 아이템 추가하기
my_list.insert(2,43)

In [ ]:
# 세번째 (2=파이썬에서 세번째)에 43이 추가됨
my_list

[1, 2, 43, 3, 15, 5, 6, 30]

### 8-4 리스트 아이템 제거하기 [ .remove(), .pop() ]

In [ ]:
my_list

[1, 2, 43, 3, 15, 5, 6, 30]

In [ ]:
# .remove(아이템)을 통해 해당 아이템을 리스트에서 제거
my_list.remove(30)

In [ ]:
# 30이 제거됨을 확인
my_list

[1, 2, 43, 3, 15, 5, 6]

In [ ]:
# .pop(위치) 를 통해 리스트의 해당 위치의 아이템을 불러옴 / 불러오는 경우 리스트에서 제거됨
my_list.pop(2)

43

In [ ]:
# 2번째 위치했던 43이 pop()을 통해 제거됨
my_list

[1, 2, 3, 15, 5, 6]

### 8-5 리스트내 아이템 확인하기 [ in , not in ]

In [ ]:
my_list

[1, 2, 3, 15, 5, 6]

In [ ]:
# 아이템 1이 my_list 안에 들어 있음으로 "yes" 라는 의미의 불리안 값 True 출력
1 in my_list

True

In [ ]:
# 아이템2는 my_list 안에 들어 있기 때문에, "No" 라는 의미의 불리안 값 False 출력
2 not in my_list

False